{% extends 'core/layout.html' %}
{% load static %}

{% block title %} {{courses.title}} {% endblock %}
{% block style %} {% static "courses/css/style.css" %} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-5 p-3 col-lg-2 sidebar">
            <button onclick="location.href='{% url 'courses:manage_course' %}'" class="btn">Назад</button>
        </div>
        
        <div class="col-md-9 col-lg-10 p-4">
            <div class="container mt-5">
                <h2>Добавить урок в модуль: {{ module.title }}</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Добавить</button>
                    <a href="{% url 'courses:edit_course' module.course.id %}" class="btn btn-secondary">Назад</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}