{% extends 'core/layout.html' %}
{% load static %}

{% block title %} {{courses.title}} {% endblock %}
{% block style %} {% static "courses/css/style.css" %} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-5 p-3 col-lg-2 sidebar">
            <button onclick="location.href='{% url 'courses:create_course' %}'" class="btn">Создать курс</button>
            <button class="btn">Студенты</button>
            <button class="btn">Настройки</button>
        </div>
    
        <div class="col-md-10 col-lg-10 p-4">
            <div class="d-flex flex-column gap-4">
                {% for course in courses %}
                    <div class="card course-card p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h3><strong>{{ course.title }}</strong></h3><br>
                                <small>{{ course.description|truncatechars:50|safe }}</small>
                            </div>
                            <button class="btn btn-edit" onclick="location.href='{% url 'courses:edit_course' course.id %}'">Редактировать</button>
                        </div>
                        <a href="{% url 'courses:delete_course' course.id %}" class="btn btn-outline-danger">🗑️ Удалить курс</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}